{% extends 'root.html' %}

{% block content %}

<style type="text/css">
  /* Custom CSS for the login form box */
  body {
    font-family: Arial, sans-serif;
background-image: url("/media/abstract-marble-texture-black-white-grey-background-handmade-technique.jpg");
    background-color: whitesmoke;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .login-container {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 50px;
    max-width: 400px;
    width: 100%;
margin-left: 38%;


  }

  h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #0056b3;
  }

  form {
    display: flex;
    flex-direction: column;
  }

  label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
  }

  input[type="text"],
  input[type="password"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 15px;
    width: 100%;
  }

  button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-bottom: 15px;
    width: 100%;
  }

  button:hover {
    background-color: #0056b3;
  }

  .login-container a {
    text-align: center;
    display: block;
    color: #0056b3;
    text-decoration: none;
  }

  .login-container a:hover {
    text-decoration: underline;
  }
</style>

<div class="login-container">
  <h2>Login</h2>
  <form method="post">
    {% csrf_token %}
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>
    <button type="submit">Login</button>
  </form>

  <a href="{% url 'register' %}">Don't have an account? Register</a>
</div>

{% endblock %}
